/*This is custom CSS file*/
.pluginprefix-menu-style {
    width: 80%;
    text-align: center !important;
    padding: 20px;
    border: 2px solid dodgerblue;
    margin: 20px auto;
    border-radius: 5px;
    font-size: 20px;
}

.pluginprefix-red {
    color: red;
}

.pluginprefix-blue {
    color: dodgerblue;
}

.pluginprefix-text-center {
    text-align: center;
}
